@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
/* font-family: 'Bruno Ace SC', cursive; */
/* font-family: 'Roboto Condensed', sans-serif; */
ul{
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.meal__li{
    width: calc(100% / 4);
    margin:5px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    background:radial-gradient(#f7e1ae72 60%,#F7E1AE);
    border-radius: 30px;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 #617A55;
}
.ingredients__wrapper{
    border:1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
span{
    display: inline;
    margin:0 3px;
}
.meals__wrapper{
    width:90%;
}
.meal__li img{
    width: 100%;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
}
.food__icon{
    height:100px;
}
.header__wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.header__ul{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.header__title{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 50px;
}
.nav{
    background:linear-gradient(#A4D0A4 95%, #F7E1AE);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.384);
    max-height: 104px;
    overflow: hidden;
}
.reverse{
    transform: scaleX(-1);
}
.search__icon{
    height:23px;
    fill:white;
}
.section__svg{
    height:34px;
    width:34px;
    border:1px solid #617A55;
    margin:2px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #617A55;
}
.section__para{
    display: inline;
    font-size: 25px;
}
.section__para--align{
    align-items: center;
    display: flex;
}
.section1{
    background:linear-gradient(#F7E1AE 95%, #FFF8D6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height:50vh;
}
.section__h2{
    font-size: 35px;
}
.section2{
    background:linear-gradient(#FFF8D6 95%, transparent);
    align-items: center;
    display: flex;
    flex-direction: column;
}
.input__wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    border:2px solid #617A55;
    width:50%;
    max-width: 600px;
    min-width: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin: 50px 0;
    background-color: #617A55;
}
.input{
    font-size: 20px;
    display: flex;
    max-width: 1500px;
    width:100%;
    border:none;
    padding:12px;
    background: white;
}
.input:focus{
    outline: none;
}
.input__button{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 12px;
    border:none;
    background-color: #617A55;
    cursor:pointer;
}
.meal__content--wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: #A4D0A4;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width:70%;
    height:80%;
    overflow-y: scroll;
    padding:2rem 0;
    visibility: hidden;
    margin:0 auto;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.44);
}
.content__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe__btn{
    border:none;
    background: none;
    border-radius: 100%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
    cursor: pointer;
    background-color: #617A55;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe__btn svg{
    height: 20px;
    fill:white;
}
.recipe__title{
    text-decoration: underline;
    font-size: 30px;
}
.recipe__category{
    font-size: 20px;
    border: #617A55 solid 1px;
    background-color: #617A55;
    padding: 2px;
    border-radius: 3px;
    margin: 7px 0;
}
.recipe__instruction{
    text-align: center;
    max-width: 800px;
    width:90%;
    margin-bottom: 20px;
}
.recipe__meal--img{
    border:2px #617A55 solid;
    border-radius: 40px;
    overflow: hidden;
    max-width: 500px;
    width:90%;
    height:450px;
    margin: 20px 0;
}
.recipe__meal--img img{
    width:500px;
}
.recipe__link{
    margin-top:10px;
}
.recipe__link a:nth-child(1){
    border:1px solid red;
    text-decoration: none;
    color:white;
    padding: 6px;
    border-radius: 5px;
    background: red;
}
.recipe__link a:nth-child(2){
    border:1px solid #617A55;
    text-decoration: none;
    color:white;
    padding: 6px;
    border-radius: 5px;
    background: #617A55;
}
.meal__content--wrapper::-webkit-scrollbar{
    width:10px;
}
.meal__content--wrapper::-webkit-scrollbar-thumb{
    background: #617A55;
    border-radius: 5px;
}
.openRecipe{
    visibility: visible;
}
.disableScroll{
    overflow-y: hidden;
}
.viewBtn{
    display: flex;
    margin:10px;
    padding:10px;
    width:100%;
    justify-content: center;
    font-size: 25px;
    font-family:sans-serif;
    font-weight: 700;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: #617A55;
    color:white;
    border: 1px solid white;
}
.button__wrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:90%
}
.recipe__title--wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ingredient__wrapper{
    display: flex;
    justify-content: center;
    max-width: 650px;
    width:90%;
    text-align: center;
    margin-bottom:15px;
}
footer{
    background-color: #A4D0A4;
}