.background{
    background-position: center;
    height: 450px;
}
.main{
    height: 450px;
    width: 100%;
    background:linear-gradient(#210d0d ,transparent 30%,transparent 70%, #210d0d) ,url('https://wallpaperaccess.com/full/462778.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__body{
    color:#EEEEEE;
}
.stroke{
    color: #210d0d;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EEEEEE;
}
.main__text{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    filter: drop-shadow(0 0 1px #210d0d);
}
.main__text > h1{
    font-size: 50px;
}
.main__text > h3{
    font-size: 30px;
}
.main__text > h5 {
    font-size: 18px;
}
@media (max-width:768px) {
    .main__text > h1{
        font-size: 40px;
    }
    .main__text > h3{
            font-size: 20px;
    }
    .main__text > h5{
        font-size: 15px;
    }
    .stroke:nth-of-type(2){
        font-size: 30px;
    }
    .main__text{
        margin: 0 15px;
    }
}