.nav {
  position: fixed;
  display: flex;
  height: 100px;
  width: 100%;
  z-index: 99;
  top:0;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.227);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.logo {
  height: 90px;
  margin:0;
  filter: drop-shadow(0 0 1px white);
}
.stroke:nth-of-type(2){
  font-size: 40px;
}
.nav__link{
  margin-left: 50px;
}
.nav__img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav__links {
  width: 50%;
  gap: 1.5rem;
  justify-content: flex-end;
  display: flex;
  color: white;
}
.link:nth-of-type(2) {
  margin-right: 50px;
}
.link {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 4px;
  font-size: 12px;
  transition: all 100ms ease-in-out;
}
.link:hover{
  background-color: rgba(255, 255, 255, 0.20);
}
